[submodule "node_modules/nano"]
	path = node_modules/nano
	url = https://github.com/dscape/nano.git
[submodule "node_modules/couch-client"]
	path = node_modules/couch-client
	url = https://github.com/creationix/couch-client.git
[submodule "node_modules/crafity-filesystem"]
	path = node_modules/crafity-filesystem
	url = https://github.com/Crafity/crafity-filesystem.git
[submodule "node_modules/crafity-core"]
	path = node_modules/crafity-core
	url = https://github.com/Crafity/crafity-core.git
